* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f8f9fa;
}
.imgDiv {
  display: flex;
  margin: 0px auto;
}
.imgDiv a {
  margin: auto;
}
.main {  
  box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
  background-color: #F0F2F5;
}
main h3 {
  text-align: center;
}
.card {  
  background-color: #F0F2F5;
}
.main table {
  margin-top: 32px;
}
.main table thead {
  font-weight: bold;
}
.table .thead-dark th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}
.th-control {
  font-size: 18px
}
.tr-control {
  font-weight: 500;
}
.tr-control:nth-child(odd) {
  background-color: #d7d9df8c;
}
.th-er {
  text-align: center;
}
.btn-new {
  margin: auto;
  display: block;
}
.btn-add {
  background-color: #22b8cf; /*#c05252;*/
  border-color: #22b8cf /* #c05252;*/
}
.btn-add:hover {
  background-color: #15aabf; /*#cd3f3f;*/
  border-color: #15aabf; /*#cd3f3f;*/
}
.modal-title {
  text-align: center;
}
input:hover {
  border-color: #80bdff;
}
.checkDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
label {
  font-weight: 500;
  text-indent: 10px;
}
.input-group {  
    display: flex;
    flex-wrap: nowrap;
}
.invalidInput {
border: 1px solid #dc3545;
  border-color: #dc3545;
}
.column {
    display: flex;
    flex-direction: column;
}
.cpf {
 max-width: 140px;
 width: 140px;
}
.cpfDiv {
    min-width: 200px;
    max-width: 220px;
}
.celularDiv{
    min-width: 250px;
    max-width: 250px;
}
.sexoDiv {
    margin: auto;
}
.skillDiv  {
    margin: auto;
}
#nascimento {
 max-width: 160px;
 width: 160px;
}
footer{
  margin-top: 40px;
}
.footerDiv {
  color: #212529;
  background-color: lightgray;
  line-height: 1.3rem;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}